@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Kaixo, ongi etorri GAR Azterketako Webgunera</h1>
    <p>Honaino heldu bazara ZORIONAK, azterketa gainditzeko gertu zaude!</p>
    <img src="~/images/DepJm.gif" alt="gif image" />
</div>
